DASHSCOPE_API_KEY=""    #换成千问的API Key https://bailian.console.aliyun.com/去这个网址创建API
DATABASE_URL="mysql+pymysql://@localhost:3306/ai_interview"     # 格式: mysql+pymysql://<用户名>:<密码>@localhost:3306/ai_interview
SECRET_KEY="your_super_secret_key_for_interview"
JWT_ALGORITHM="HS256"
JWT_EXPIRE_DAYS=7
LLM_MODEL="qwen-turbo" #可以修改模型
EMBEDDING_MODEL="text-embedding-v1"
